
body{
	color:black;
	background:url(../images/logo_mono.png) 0 0 repeat #1DE9B6;	
	height:100%;
	margin:0;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
}
.black{
	position:absolute;
	left:0;
	right:0;
	background-color:black;
	opacity:0.5;
	display:none;
	z-index:10000;
	top:0;
	bottom:0;
	padding:45% 0 0 45%;
}

.ov {
	overflow:hidden;
}

.border{
	
}

.redBorder{
	border-color:red;
}
.head address a{
	color:#b4b4b4;
	font-size:14px;
	font-weight:bold;
}

.noneDisplayed{
	display:none;
}

.paramCaption{
	text-transform: uppercase;
	font-size: 8pt;
	font-weight: bold;
}

.hrefAsBtn{
	border: 1px solid darkgray;
	border-radius: 4px;
	background-color: #ddd;
	color: #355;
	font-family: 'times new roman';
	font-size: 11pt;
	font-weight: normal;
	font-style: normal;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	text-transform: none;
}
.paramList h3{
	margin:0;
}
a:hover{
	color:#67B437;
}

address{
	font-style:normal;
	font-size:14px;
}
address strong {
	text-transform:uppercase;
}
.red{
	color:#BE193F;
	font-weight:bold;
	font-size:16px;
}
select{
	width:202px;/* было 225 */
}
.wrap {
	width:96%;
	max-width:1600px;
	min-width:640px;/* было 1024 */
	min-height:600px;
	margin:0% auto 0 auto;
	position:relative;
	padding-top:1px;
	
}
.mainPage{
	font-size:28px;
	color:black;
	text-decoration:none;
}

form div{
	margin-top:7px;
}
.model{
	margin-bottom:20px;
}

.paramgroup a{
	font-size:18px;
}
.paramgroup{
	margin-bottom:25px;
}
.br {
    clear: both;
    font-size: 0;
    overflow: hidden;
}
.additEq li{
	display:inline-block;	
	margin-right:20px;	
	text-align:center;
	padding:5px;
} 
.additEq li a{
	display:block;
	border:1px solid #ddd;
	padding:5px;
	
}
.additEq li a:hover{
	border-color:#67B437;
}
.additEq{
	list-style:none;
	margin:0;
	padding:0;	
}
.footerData h2{
	margin-bottom:15px;
}
.wrap .bl{
	display:block;;	
	position:relative;
	margin-right:5%;
}
.wrap input.text {
	padding:5px 10px;
	color:#666;
	font-size:12px;	
}
.wrap .bl{
	margin-bottom:3px;	
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
}

.param{
	margin-bottom:20px;
	position:relative;
}

.wrap .star{
	color:red;
	margin-left:5px;
}
.wrap .submit input{
	background:url(../img/butSend.png) 0 0 no-repeat;
	width:165px;
	height:50px;
	border:0;
	padding:0;	
	color:white;
	text-transform:uppercase;
	cursor:pointer;
	
}
.wrap .submit {
	margin:20px 6% 0 0;
	float:right;
}
.opc-required {
	margin-top:35px;
	color:red;
	font-style:italic;
	font-weight:bold;
	text-transform:lowercase;
	font-size:12px;
}
.wrap .delivery{
	margin-top:40px;
	width:685px;	
}
h3{	
	text-transform:uppercase;
	font-size:20px;
	margin-bottom:15px;
	line-height:1.3;
}
h2{
	margin:10px 0 5px 0;
}
p{
	margin:0;
}
.hd{
	display:none;
}
.wrap .delivery p{
	font-size:14px;
}

.mainColumn, .centerCol {
	position:relative;
	width:80%;/* было 60 */
	max-width:640px;
	float:left;
	border-radius:15px;
	padding:0 20px 20px;
	margin-bottom:20px;
	background:white;
}
div.centerCol{
	float:none;
	margin:20px auto;
	padding:10px 20px;
}
.head{
	border-radius:15px;
	padding:1px 20px 10px 20px;	
	background:white;
	margin:2% 0 35px 0;
}
h1{
	margin:10px 0;
}

.scndCol {
	width:29%;
	float:right;
	border-radius:15px;
	padding:0 20px 20px;
	background:white;
	margin-bottom:35px;
}

.big {
	font-weight:bold;
	font-size:16 px;
}
.footer{
	position:relative;	
	width:100%;	
	height:275px;
	border-radius:15px;
	background:white;
	
	
}
.tip{
	position:absolute;
	right:5%;
	top:-125%;
	/* padding-bottom:9px; */
	z-index:10;			
	
}
.tip .tipBody{	
	padding:15px 15px 15px 15px;
	background:#FFFEC9;
	border:1px solid #BBB;
	border-radius:3px;
	
}
.tip .arr{
	height:10px;
	background:url(../images/tip.png) 0 -1px no-repeat;
	position:absolute;
	bottom:-9px;
	width:20px;
}

.ajaxLoader{
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	z-index:1000;		
	opacity:0.3;
	background:url(../images/ajax-loader.gif) center center no-repeat black;
}

.footerData{
	padding:0 20px 20px;	
	border-radius:15px;
}


.selectModelBlock{
	width: 270px;
	padding: 0px 0 0;
	/*color: #8c8c8c;*/
	color: #000000;
	font-size: 11px;
	
 }
 .selectModelBlock .modelDescription {
	padding: 3px 6px 0 6px;
	height: 18px;
	cursor: pointer;
	border-radius: 4px;
	margin: 0 20px 0 0;
	color: #ed4226;
	width: 237px;
	z-index: 11;
	background: #fcfcfc;
	
 }
 .modelDescription #btn {
	background: url(../images/dropdown.png);
	margin-left: 248;
	margin-bottom: 4;
	width: 10px;
	height: 10px;
	
 }

 .modelDescription {
 	width: 260;
	padding: 2px 0 0 2px;
	display: block;
	font-weight: normal;
	border: 1px solid lightgray;
 }
 
 .modelDescription span {
	padding: 2px 0 0 2px;
	display: block;
	font-weight: normal;
	border: 1px solid lightgray;
 }
 
 .selectModelBlock ul.modelList {
	margin-top: 0px;
	z-index: 10;
	background: #fcfcfc;
	position: absolute;
	border-radius: 3px;
	width: 249px;
	padding: 0;
	display: none;
 }
 
 ul.modelList li {
	padding: 6px 9px;
	list-style-type: none;
	/*border-top: 1px solid lightgray;*/
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	/*border-bottom: 1px solid lightgray;*/
 }
 
 ul.modelList li:hover {
	cursor: pointer;
	background: #fff;
 }
 
 .selectModelBlock .modelDescriptionText {
	padding: 3px 5px;
	margin: 5px 0 0 3px;
 }
 
 .modelDescriptionText {
	width: 65%;
	padding: 3px 5px;
	margin: 3px 5px;
 }
 
 .selectedModelName {
 	/*font-family: ''TimesNewRoman;*/
 	font-size: 14;
 	font-weight: normal;
 	padding: 0px 0px;
 	margin: 0px 0px;
 	float: left;
 }
 
 .additionalButtonsPosition{
	position:absolute;
	top: 0px;
	right: -158px;
	/* border: 1px solid darkgray; */
	z-index:100;
 }

 
 .positionForParent{
 	position: relative;
 }

 .buttonsCol {
	/* width:132px; */
	float:right;
	border-radius:15px;
	padding: 5px 13px 5px 5px;
	background-color: white;
	
}

/* input#reset{
	background-image: url("../images/eraser.png");
	background-repeat: no-repeat;
	background-size: contain;
	overflow: hidden;
	text-overflow: elipsis;
	text-indent: 20px;
	width: 140px;
	margin-bottom:4px;
}

.backStep{
	background-image: url("../images/Back.png");
	background-repeat: no-repeat;
	background-size: contain;
	overflow: hidden;
	text-overflow: elipsis;
	text-indent: 20px;
	width: 140px;
	margin-bottom:4px;
}

.backToStart {
	background-image: url("../images/Home1.png");
	background-repeat: no-repeat;
	background-size: contain;
	overflow: hidden;
	text-overflow: elipsis;
	text-indent: 20px;
	width: 140px;
}
 */
.flowRadio {
	caption-side: right;
}

.normalFontSize{
	font-size: 12px;
	font-weight: normal;
}

.encreasedFontSize{
	font-size: 120%;
	font-weight: normal;
}

@media screen and (max-width: 800px) {
	.additionalButtonsPosition{ 
		position: absolute;
		border: 1px solid darkgray;
		top: 0;
		right: 0px;
		float: right;
		width: 15px;
		z-index:100;
	}
	input#reset{
		height: 25;
		width: 25;
	}
	.backStep{
		height: 25;
		width: 25;
	}
	.backToStart{
		height: 25;
		width: 25;
	}
}

@media print{
	
	h1, a, address, .buttonsCol, .scndCol, #reset, div.head>p{
		margin-top: -3px;
		display:none;
	}
	
	h2{
		margin-top: -15px;
	}
}

.filterParams{
	width:305px;
}
.modelClick .form-inline .form-control ,.filterParams .form-inline .form-control {
	 width:80%; 
}
.anotherMods{
	font-size:12px;
	white-space: nowrap;
}